/* MAIN CONTAINER */
.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    width: 100vw;
    height: 100vh;
    color: white;
}


/* ERROR CODE AND MESSAGE */
.errorCode {
    margin-top: 70px;
    font-size: 35px;
    margin-bottom: 10px;
}

.errorMessage {
    font-size: 45px;
    margin-top: 0px;
}


/* GIF */
.gif {
    width: 300px;
    margin-top: 0px;
    margin-bottom: 50px;
}


/* GO BACK BUTTON */
.goBackButton {
    margin: 3px;
    padding: 15px;
    background-color: var(--mygrey2opaque);
    color: white;
    height: 100%;
    border: 4px solid var(--mylightblue);
    border-radius: 10px;
    font-size: 25px;
}

.goBackButton:hover {
    background-color: var(--mylightblue);
    color: black;
    font-size: 30px;
    border: solid white 5px;
}



