/* MAIN CONTAINER */
.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  flex: 1;
}

/* ERROR CODE AND MESSAGE */
.errorCode {
  font-size: 25px;
  margin-bottom: 10px;
}

.errorMessage {
  font-size: 45px;
  margin-top: 0px;
}

/* GIF */
.gif {
  width: 250px;
  margin-top: 0px;
  margin-bottom: 30px;
}

/* GO BACK BUTTON */
.goBackButton {
  margin: 3px;
  padding: 5px;
  background-color: var(--mygrey2opaque);
  color: white;
  height: 100%;
  border: 4px solid var(--mylightblue2);
  border-radius: 10px;
  font-size: 25px;
}

.goBackButton:hover {
  background-color: var(--mylightblue2);
  color: black;
  border: solid white 5px;
}

@media screen and (max-width: 768px) {
  .errorCode {
    font-size: 20px;
    margin-top: 0px;
  }
  .errorMessage {
    font-size: 35px;
  }
  .goBackButton {
    font-size: 22px;
  }
}
