.mainContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: solid white 1px;
    height: 25px;
    margin: 10px;
    margin-bottom: 30px;
    padding: 10px;
}

.logo {
    max-height: 100%;
}

