body {
  height: 100vh;
  width: 100vw;
  color: rgba(255, 255, 255, 0.855);
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 15px; 
  
  background-color: black;
  background-image: url("../src/assets/backgrounds/texturedBg.jpg");
  background-position: center;
  background-size:cover;
  /* background-repeat: no-repeat; */  
}
