.mainContainer {
    /* background-color: red; */
    font-family: roboto;
    display: flex;
    flex-direction: row;
    align-items: left;
    /* justify-content:flex-start; */
    margin: 50px;
}

.formContainer {
    background-color: rgb(46, 41, 42);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.label {
    background-color: rgb(85, 85, 85);
    display: flex;
    flex-direction: column;
    width: 80%;
    height: fit-content;
    margin: 10px;
}

.platformsContainer {                               /* editing */
    background-color: rgb(85, 85, 85);
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    width: 80%;
    /* height: fit-content; */
    margin: 10px; 
    align-items: center;
}

.platformsSubContainer {                        /* editing */
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin: 2px;
}

.input {
    font-family: roboto;
    /* background-color: green; */
    /* height: 2px; */
}

.platformInput {                            /* editing */
    width: 100%;
    /* background-color: red; */
}

.deletePlatformButton {
    background-color: rgb(155, 121, 121);
    font-family: roboto;
    color: white;
}

.deletePlatformButton:hover {
    background-color: rgb(200, 172, 172);
    color: rgb(23, 21, 21);
}

.addPlatformButton {
    width: fit-content;
    background-color: rgb(66, 103, 3);
    margin-top: 10px;
    color: white;
    font-family: roboto;
    font-size: 12px;
}

.addPlatformButton:hover {
    background-color: rgb(145, 152, 133);
    color: rgb(29, 27, 27);
}


.checkboxContainer {
    background-color: rgb(85, 85, 85);
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 10px; 
}

.checkboxSubcontainer {
    display: flex;
    margin: 2px;
    flex-direction: row;
    flex-wrap: wrap;
}

.checkboxSubSubContainer {
    align-items: center;
    margin: 1px;
}


.errorMessage {
    font-family: roboto;
    color: rgb(255, 225, 0);
}

.errorGenreMessage {
    font-family: roboto;
    color: rgb(255, 225, 0);
}

.submitButton {
    background-color: rgba(0, 225, 255, 0.929);
    font-size: 15px;
    width: fit-content;
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: roboto;
}

.submitButton:hover {
    background-color: rgba(208, 224, 226, 0.857);
    color: rgb(56, 121, 56);
}


.goBackButton {
    background-color: rgba(232, 192, 127, 0.73);
    font-size: 12px;
    width: fit-content;
    margin-top: 50px;
}

.goBackButton:hover {
    background-color: rgba(233, 202, 154, 0.73);
    color: rgb(22, 58, 22);
}



.preview {
    background-color: rgb(56, 53, 54);
    width: 50%;
}

.imagePreview {
    max-width: 70%;
}