/* MAIN CONTAINER */
.mainContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 90%;
    margin-left: 50px;
    margin-right: 50px;
}

/* FORM */
.formContainer {
    background-color: var(--mygreyopaque);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;    
    padding-top: 10px;
    padding-bottom: 40px;
    /* background-color: red; */
}

.label {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    width: 60%;
    /* background-color: green; */
}

.input {
    width: 100%;
    font-size: 18px;
    padding: 10px;
    margin: 5px;
    border-radius: 20px;
    /* background-color: yellow; */
}

.nameInput {
    width: 300px;
}

.dateInput {
    width: fit-content;
}

.ratingInput {
    width: 100px;
}


/* PLATFORMS */
.platformsContainer, .checkboxContainer {
    background-color: var(--mygreyopaque);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    border: solid white 2px;
}

.platformsSubContainer {   
    /* background-color: red; */                     /* editing */
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    margin: 2px;
    justify-content: center;
    align-items: center;
}

.platformInput {                            /* editing */
    width: 40%;
    /* background-color: red; */
}

.deletePlatformButton {
    background-color: var(--myred);
    color: white;
    font-weight: bold;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    border: solid white 2px;
    font-size: 25px;
    margin: 5px;
}

.deletePlatformButton:hover {
    background-color: var(--myred2);
    color: black;
    height: 50px;
    width: 50px;
}

.addPlatformButton {
    background-color: var(--mylightblue3);
    color: white;
    font-weight: bold;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    border: solid white 2px;
    font-size: 25px;
    margin: 5px;
}

.addPlatformButton:hover {
    background-color: var(--mylightblue);
    color: black;
    height: 50px;
    width: 50px;
}



/* GENRES */
.checkboxSubcontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2px;
}

.genreLabel {
    align-items: center;
    margin: 5px;
}

.genreInput {
    margin: 5px;
}


/* ERROR MESSAGE */
.errorMessage {
    color: var(--myred2);
    font-weight: bold;
}



/* SUBMIT */
.submitButton {
    background-color: var(--mylightblue3);
    font-size: 25px;
    width: fit-content;
    padding: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 30px;
    color: white;
    border: solid white 7px;
}

.submitButton:hover {
    background-color: var(--mylightblue);
    color: black;
    font-size: 30px;
}

/* AUTOCOMPLETE BUTTON */
.autocompleteButton {
    background-color: var(--mylightblue3);
    font-size: 16px;
    width: fit-content;
    padding: 5px;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 30px;
    color: white;
    border: solid white 2px;
}

.autocompleteButton:hover {
    background-color: var(--mylightblue);
    color: black;
    font-size: 20px;
}

/* PREVIEW*/
.preview {
    background-color: var(--mygrey2opaque);
    width: 30%;
}

.imagePreview {
    max-width: 70%;
}

@media screen and (max-width: 768px) {
    .mainContainer {
        flex-direction: column;
    }

    .formContainer {
        width: 90%;
    }

    .preview {
        width: 90%;
        margin-top: 30px;
    }

    /* .preview {
        display: none;
    } */
}