.mainContainer {
    display: flex;
    flex-direction: row;
    margin: 50px;
    /* background-color: black; */
}


.loadingContainer {
    font-size: 25px;
}

.dataContainer {
    background-color: black;
    /* color: rgba(255, 255, 255, 0.919); */
    width: 100%;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    /* border: solid white 1px; */
}



.leftContainer {
    /* border: solid red 10px; */
    max-width: 40%;
    text-align: left;
    margin: 10px;
    font-size: 18px;
}

.image {
    /* max-width: 600px; */
    /* max-width: fit-content */
    max-width: 100%;
    object-fit: cover;
}

.id {
    font-size: 13px;
}

.goBackButton {
    background-color: rgba(0, 225, 255, 0.929);
    font-size: 18px;
    width: fit-content;
}

.goBackButton:hover {
    background-color: rgba(91, 236, 255, 0.899);
    color: rgb(56, 121, 56);
}



.rightContainer {
    max-width: 60%;
    margin: 10px;
    text-align: justify;
}

.description {
    margin: 50px;
    /* font-size: 12px; */
    /* background-color: red; */
}


.description li {
    font-size: 12px;
    list-style-type: circle;
    list-style-position: inside
    /* list-style-position: inside; */
}



/* .description b {
    font-weight: bold;
    color: red;
}

.description strong {
    font-weight: bold;
    color: red;
}

  
.description a {
    text-decoration: underline;
    color: #00bfffcd;
} */


/* .description ul {

} */

