.mainContainer {
    display: flex;
    flex-direction: column;
    font-size: 25px;
    align-items: center;
}

.errorCode {
    font-size: 20px;
    margin-bottom: 0px;
}

.errorMessage {
    font-size: 30px;
    margin-top: 15px;

}

.goBackButton {
    background-color: rgba(0, 225, 255, 0.929);
    font-size: 12px;
    width: fit-content;
}

.goBackButton:hover {
    background-color: rgba(91, 236, 255, 0.899);
    color: rgb(56, 121, 56);
}

.gif {
    width: 250px;
    margin-top: 50px;
}

