/* NAVLINK */

.NavLink {
    text-decoration: none;
}

/* MAINCONTAINER */
.mainContainer {
    /* background-color: black; */
    background-color: rgb(43, 43, 43);
    background-color: black;
    border: solid rgb(95, 209, 219) 3px;
    border: 4px solid rgb(96, 104, 214);
    border: 4px solid rgb(135, 141, 228);
    border: 4px solid rgb(15, 145, 157);
    
    margin: 30px;
    width: 250px;
    height: 300px;
    border-radius: 5%;
    color: rgba(255, 255, 255, 0.855);
}

.mainContainer:hover {
    text-decoration: none;
    color: rgb(95, 209, 219);
    width: 255px;
    height: 310px;
    border: 4px solid rgb(95, 209, 219);
}


/* IMAGE */
.image {
    width: 230px;
    width: 100%;
    height: 160px;
    border-radius:10px;
}

.rating {
    font-size: 12px;
}

.genres {
    font-size: 12px;
}
