/* NAVLINK */

.NavLink {
    text-decoration: none;
}

/* MAINCONTAINER */
.mainContainer {
    /* background-color: black; */
    background-color: rgb(43, 43, 43);
    border: solid rgb(95, 209, 219) 3px;
    margin: 10px;
    width: 250px;
    height: 300px;
    border-radius: 5%;
    color: white;
}

.mainContainer:hover {
    text-decoration: none;
    color: rgb(95, 209, 219);
    width: 255px;
    height: 310px;
}


/* IMAGE */
.image {
    width: 230px;
    width: 100%;
    height: 160px;
    border-radius:10px;
}

.rating {
    font-size: 12px;
}

.genres {
    font-size: 12px;
}
