.mainContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: white;
    width: 92%;
    height: 40px;
    margin: 30px;
    padding: 10px;
    align-items: center;
    border-radius: 25px;
    border: 5px solid var(--mylightblue2);
}

.text {
    font-size: 15px;
    color:black;
}

.githubLogo {
    max-height: 50px;
}

.githubLogo:hover {
    max-height: 55px;
}

.linkedinLogo {
    max-height: 27px;
}

.linkedinLogo:hover {
    max-height: 31px;
}

@media screen and (max-width: 768px) {
    .mainContainer {
        margin: 5px;
    }
    .text {
        /* color: blue; */
        display: none;
    }
}