.mainContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: white;
    width: 92%;
    height: 40px;
    margin: 30px;
    padding: 10px;
    align-items: center;
    border-radius: 10px;
}

.text {
    font-size: 15px;
    color:black;
}

.githubLogo {
    max-height: 50px;
}

.linkedinLogo {
    max-height: 27px;
}