.mainContainer {
    background-color: black;
    font-size: 25px;
}


.errorCode {
    font-size: 20px;
}

.errorMessage {
    font-size: 30px;
}


.goBackButton {
    background-color: rgba(0, 225, 255, 0.929);
    font-size: 12px;
    width: fit-content;
}

.goBackButton:hover {
    background-color: rgba(91, 236, 255, 0.899);
    color: rgb(56, 121, 56);
}
