.mainContainer {
    display: flex;
    flex-direction: column;
    position: relative;
}

.formAndResetContainer{
    display:flex;
    flex-direction:row;
    align-items:center;
}

.searchBar {
    display: flex;
    direction: row;
    width: 100%;
    justify-content: center;
}   

.searchInput {
    width: 30%;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    justify-content: flex-start; /* new */

}

.searchSubmitButton {
    font-size: 20px;
    height: 34px;
    width: 35px;
    border-radius: 5px;
}

.searchSubmitButton:hover {
    background-color: rgba(170, 230, 238, 0.899);
    color: rgb(56, 121, 56);
}

.resetButton {
    /* background-color: rgba(0, 225, 255, 0.929); */
    /* background-color: rgb(135, 141, 228); */
    font-size: 12px;
    height: 24px;
    justify-content: end;
    margin-right: 20px;
    width: 90px;
    /* position: absolute; */ 
    /* right: 20px; */ 
}

.resetButton:hover {
    background-color: rgba(170, 230, 238, 0.899);
    color: rgb(56, 121, 56);
}




.filters {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 1px;
    margin-right: 20px;
    font-size: 10px;
    align-items: center;
    justify-content: flex-end;
}

.creatorSelect {
    width: 100px;
}

.genreSelect {
    width: 100px;
}

.sortings {
    display: flex;
    flex-direction: row;
    margin-right: 20px;
    font-size: 10px;
    align-items: center;
    justify-content: flex-end;
} 

.sortSelect {
    width: 120px;
}