/* MAIN CONTAINER */
.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
    
    /* position: relative; */
   /*  background-color: red; */
}

/* SEARCHBAR */
.searchbarContainer {
    display: flex;
    direction: row;
    width: 40%;
    justify-content: center;
    /* background-color: red; */
}   

.searchInput {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    /* background-color: rgb(89, 89, 89); */
    /* border: 2px solid rgb(95, 209, 219); */
    background-color: black;
    border: 2px solid var(--mygrey4);
    color: white;    
}

.searchInput:hover {
    font-size: 15.1px;
}

.searchInput::placeholder {
    color: var(--mygrey4);
}

.searchSubmitButton {
    font-size: 20px;
    height: 35px;
    width: 35px;
    border-radius: 5px;
    background-color: black;
    border: 2px solid var(--mygrey4);
}

.searchSubmitButton:hover {
    background-color: var(--mylightblue);
    height: 40px;
    width: 40px;
    font-size: 23px;
    border: 4px solid white;
}


/* FILTERS AND SORTS */
.filtersAndSortsContainer {
    display: flex;
    flex-direction: row;
    height: 30px;
    border-radius: 5px;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}


.creatorSelect, .genreSelect, .sortSelect, .resetButton {
    background-color: black;
    border: 2px solid var(--mygrey4);
    color: var(--mygrey4);
    height: 100%;
    border-radius: 5px;
    margin: 5px;
}

.creatorSelect:hover, .genreSelect:hover, .sortSelect:hover, .resetButton:hover {
    font-size: 16px;
}

.resetButton:hover {
    color: black;
    background-color: var(--myred);
}

@media screen and (max-width: 768px) {
    
}
