.mainContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 15px;
}

.loadingContainer {
    font-size: 25px;
    margin: auto;
}

.notFoundText {
    color: rgba(255, 208, 0, 0.794);
    margin-top: 100px;
}